{#Copyright 2022 Maciej Płonowski, Michał Parchanowicz#}
{#This file is part of Employee evaluation app.#}
{#Employee evaluation app is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.#}
{#Employee evaluation app is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.#}
{#You should have received a copy of the GNU General Public License along with Employee evaluation app. If not, see <https://www.gnu.org/licenses/>.#}

{% extends 'base/base.html' %}

{% block content %}
    <div class="text-center p-5 mt-4">
        <h1 class="display-3">Witaj na stronie głównej</h1>
        </br></br>
        {% if user.is_authenticated%}
            <h3 class="display-6">{{ user.first_name }} {{ user.last_name }}</h3>
        {% else %}
            <a class="w-25 btn btn-dark rounded p-2 m-3" href="/accounts/login">Zaloguj się</a>
            <a class="w-25 btn btn-dark rounded p-2 m-3" href="/accounts/register">Zarejestruj się</a>
        {% endif %}
    </div>
{% endblock %}