{#Copyright 2022 Maciej Płonowski, Michał Parchanowicz#}
{#This file is part of Employee evaluation app.#}
{#Employee evaluation app is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.#}
{#Employee evaluation app is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.#}
{#You should have received a copy of the GNU General Public License along with Employee evaluation app. If not, see <https://www.gnu.org/licenses/>.#}

{% extends 'base/base.html' %}

{% block content %}
    <body onload="loaded()">
    <div class="text-center p-5 mt-4">
        <h1 class="display-3">{{ evaluationInst.evaluation.name }}</h1>
    </div>
    <div class="border border-dark border-2 rounded mx-auto w-50" style="margin-bottom: 100px; min-width: 500px">
        <form method="POST" action="">
            {% csrf_token %}
            {% for form in evaluationFormTemplates %}
                <div class="bg-dark">
                    <h3 class="text-light pb-2 px-4 display-6">{{ form.name }}</h3>
                </div>
                <div class="px-3 pt-2">
                    {% if form.description != None %}
                        <p class="px-2">{{ form.description }}</p>
                        <hr>
                    {% endif %}
                    {% for section in formSections %}
                        {% if section.form_template == form %}
                            <div class="px-3">
                                <h3>{{ section.name }}</h3>
                                {% if section.description != None %}
                                    <p class="pt-2">{{ section.description }}</p>
                                {% endif %}
                                {% for question in formQuestions %}
                                    {% if question.form_section == section %}
                                        <div class="px-3">
                                            <h5>{{ question.name }}</h5>
                                            {% if question.description != None %}
                                                <p class="pt-2">{{ question.description }}</p>
                                            {% endif %}
                                            <table class="table">
                                                <thead>
                                                <tr>
                                                    <th scope="col" class="w-100">Odpowiedź</th>
                                                    <th scope="col">Punkty</th>
                                                    <th scope="col"></th>
                                                </tr>
                                                </thead>
                                                <tbody id="table{{ question.id }}">
                                                {% for input in formInputs %}
                                                    {% if input.form_question == question %}
                                                        {% if input.type == "IN" %}
                                                            <tr id="tr{{ input.id }}">
                                                                <td>
                                                                    <input type="number" id="{{ input.id }}"
                                                                           name="response{{ input.id }}"
                                                                           placeholder="Odpowiedź"
                                                                           style="width: 150px"
                                                                           value={% for response in responses %}
                                                                               {% if response.form_input == input %}
                                                                                   {{ response.response }}
                                                                               {% endif %}{% endfor %}>
                                                                </td>
                                                                <td>
                                                                    <input type="number" id="points{{ input.id }}"
                                                                           name="points{{ input.id }}"
                                                                           placeholder="Punkty" min="0.0"
                                                                           style="width: 75px"
                                                                           value={% for response in responses %}
                                                                               {% if response.form_input == input %}
                                                                                   {{ response.points }}
                                                                               {% endif %}{% endfor %}>
                                                                </td>
                                                            </tr>
                                                        {% endif %}
                                                        {% if input.type == "ST" %}
                                                            {% for response in responses %}
                                                                {% if response.form_input == input %}
                                                                    <tr id="tr{{ input.id }}">
                                                                        <td>
                                                                                <textarea class="w-100"
                                                                                          id="{{ input.id }}"
                                                                                          name="stringResponse{{ response.id }}"
                                                                                          placeholder="Odpowiedź"
                                                                                          rows="1">{{ response.response }}</textarea>
                                                                        </td>
                                                                        <td>
                                                                            <input type="number"
                                                                                   id="points{{ input.id }}"
                                                                                   name="stringPoints{{ response.id }}"
                                                                                   placeholder="Punkty" min="0.0"
                                                                                   style="width: 75px"
                                                                                   value={{ response.points }}>
                                                                        </td>
                                                                        <td>
                                                                            <a class="underline"
                                                                               onclick="removeField(this)">Usuń</a>
                                                                        </td>
                                                                    </tr>
                                                                {% endif %}
                                                            {% endfor %}
                                                            <tr id="tr{{ input.id }}">
                                                                <td>
                                                                        <textarea class="w-100"
                                                                                  id="{{ input.id }}"
                                                                                  name="newResponse{{ input.id }}"
                                                                                  placeholder="Odpowiedź"
                                                                                  rows="1">{{ response.response }}</textarea>
                                                                </td>
                                                                <td>
                                                                    <input type="number"
                                                                           id="points{{ input.id }}"
                                                                           name="newStringPoints{{ input.id }}"
                                                                           placeholder="Punkty" min="0.0"
                                                                           style="width: 75px"
                                                                           value={{ response.points }}>
                                                                </td>
                                                                <td>
                                                                    <a class="underline"
                                                                       onclick="removeField(this)">Usuń</a>
                                                                </td>
                                                            </tr>
                                                        {% endif %}
                                                        {% if input.type == "BO" %}
                                                            <tr id="tr{{ input.id }}">
                                                                <td>
                                                                    <input type="radio" id="T{{ input.id }}"
                                                                           name="response{{ input.id }}"
                                                                           value="True"
                                                                           {% for response in responses %}{% if response.form_input == input %}{% if response.response == "True" %}checked
                                                                           {% endif %}{% endif %}{% endfor %}>
                                                                    <label class="mx-1"
                                                                           for="T{{ input.id }}">Tak</label>
                                                                    <input type="radio" id="N{{ input.id }}"
                                                                           name="response{{ input.id }}"
                                                                           value="False"
                                                                           {% for response in responses %}{% if response.form_input == input %}{% if response.response == "False" %}checked
                                                                           {% endif %}{% endif %}{% endfor %}>
                                                                    <label class="mx-1"
                                                                           for="N{{ input.id }}">Nie</label>
                                                                </td>
                                                                <td>
                                                                    <input type="number" id="points{{ input.id }}"
                                                                           name="points{{ input.id }}"
                                                                           placeholder="Punkty" min="0.0"
                                                                           style="width: 75px"
                                                                           value={% for response in responses %}
                                                                               {% if response.form_input == input %}
                                                                                   {{ response.points }}
                                                                               {% endif %}{% endfor %}>
                                                                </td>
                                                            </tr>
                                                        {% endif %}
                                                    {% endif %}
                                                {% endfor %}
                                                <tr>
                                                    <td colspan="3">
                                                        <a class="underline"
                                                           onclick="addTextField('table{{ question.id }}', '{{ question.id }}')">Dodaj
                                                            pole tekstowe</a>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                            </br>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                                <hr>
                            </div>
                        {% endif %}
                    {% endfor %}
                    </br>
                </div>
            {% endfor %}
            <div class="text-center mb-4">
                <input class="w-25 btn btn-dark rounded m-2" type="submit" name="save" value="Zapisz">
                <input class="w-25 btn btn-dark rounded m-2" type="submit" name="send" value="Wyślij">
            </div>
        </form>
    </div>
    </body>
    <script type="text/javascript">
        function loaded() {
            let elements = document.body.getElementsByTagName("*")
            for (let i = 0; i < elements.length; i++) {
                if (elements[i].nodeName === 'TBODY') {
                    let table_children = elements[i].children
                    if (table_children.length === 2) {
                        let children = table_children[0].getElementsByTagName("*")
                        if (children[1].nodeName !== 'TEXTAREA') {
                            table_children[1].parentNode.removeChild(table_children[1])
                        }
                    }
                }
            }
        }

        let question = null

        function addTextField(container, question_id) {
            if (question !== question_id) {
                question = question_id
            }
            container = document.getElementById(container)
            let inputId = container.firstElementChild.id.slice(2)
            let tr = document.createElement('tr')
            tr.setAttribute('id', 'tr' + inputId)
            let tr_id = 'tr' + inputId
            let td1 = document.createElement('td')
            let td2 = document.createElement('td')
            let td3 = document.createElement('td')
            let response = document.createElement('textarea')

            response.setAttribute('class', 'w-100')
            response.setAttribute('placeholder', 'Odpowiedź')
            response.setAttribute('rows', '3')
            response.setAttribute('name', 'newResponse' + inputId)
            response.setAttribute('id', 'newResponse' + inputId)
            let points = document.createElement('input')
            points.setAttribute('type', 'number')
            points.setAttribute('placeholder', 'Punkty')
            points.setAttribute('style', 'width: 75px')
            points.setAttribute('min', '0.0')
            points.setAttribute('name', 'newStringPoints' + inputId)
            points.setAttribute('id', 'newStringPoints' + inputId)
            let del = document.createElement('a')
            del.innerHTML = "Usuń"
            del.setAttribute('class', 'underline')
            del.addEventListener("click", () => {
                removeField(del)
            });
            td1.appendChild(response)
            td2.appendChild(points)
            td3.appendChild(del)
            tr.appendChild(td1)
            tr.appendChild(td2)
            tr.appendChild(td3)
            container.insertBefore(tr, container.lastElementChild)
        }

        function removeField(element) {
            console.log('test')
            element.parentElement.parentElement.remove();
        }
    </script>
    <style>
        a {
            cursor: pointer;
        }
    </style>
{% endblock %}

