{#Copyright 2022 Maciej Płonowski, Michał Parchanowicz#}
{#This file is part of Employee evaluation app.#}
{#Employee evaluation app is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.#}
{#Employee evaluation app is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.#}
{#You should have received a copy of the GNU General Public License along with Employee evaluation app. If not, see <https://www.gnu.org/licenses/>.#}

{% extends 'base/base.html' %}

{% block content %}
    <div class="text-center p-5 mt-4">
        <h1 class="display-3">{{ evaluationInst.evaluation.name }}</h1>
    </div>
    <div class="border border-dark border-2 rounded mx-auto w-50" style="margin-bottom: 100px; min-width: 500px">
        <form method="POST" action="">
            {% csrf_token %}
            {% for form in evaluationFormTemplates %}
                <div class="bg-dark">
                    <h3 class="text-light pb-2 px-4 display-6">{{ form.name }}</h3>
                </div>
                <div class="px-3 pt-2">
                    {% if form.description != None %}
                        <p class="px-2">{{ form.description }}</p>
                        <hr>
                    {% endif %}
                    {% for section in formSections %}
                        {% if section.form_template == form %}
                            <div class="px-3">
                                <h3>{{ section.name }}</h3>
                                {% if section.description != None %}
                                    <p class="pt-2">{{ section.description }}</p>
                                {% endif %}
                                {% for question in formQuestions %}
                                    {% if question.form_section == section %}
                                        <div class="px-3">
                                            <h5>{{ question.name }} -
                                                <points class="fw-lighter fst-italic"
                                                        data-points=""
                                                        data-max-points="{{ question.max_points }}"
                                                        data-question="{{ question.id }}">
                                                    Max punkty: {{ question.max_points }}
                                                </points>
                                            </h5>
                                            {% if question.description != None %}
                                                <p class="pt-2">{{ question.description }}</p>{% endif %}
                                            <table class="table">
                                                <thead>
                                                <tr>
                                                    <th scope="col" class="w-100">Odpowiedź</th>
                                                    <th scope="col">Punkty</th>
                                                    <th scope="col"></th>
                                                </tr>
                                                </thead>
                                                <tbody id="table{{ question.id }}">
                                                {% for input in formInputs %}
                                                    {% if input.form_question == question %}
                                                        {% if input.type == "IN" %}
                                                            <tr id="tr{{ input.id }}">
                                                                <td>
                                                                    <input type="number" id="{{ input.id }}"
                                                                           name="response{{ input.id }}"
                                                                           placeholder="Odpowiedź"
                                                                           style="width: 150px"
                                                                           disabled
                                                                           value={% for response in responses %}
                                                                               {% if response.form_input == input %}
                                                                                   {{ response.response }}
                                                                               {% endif %}{% endfor %}>
                                                                </td>
                                                                <td>
                                                                    <input type="number" id="points{{ input.id }}"
                                                                           data-input-question="{{ question.id }}"
                                                                           name="points{{ input.id }}"
                                                                           placeholder="Punkty" min="0.0"
                                                                           style="width: 75px"
                                                                           disabled
                                                                           value={% for response in responses %}
                                                                               {% if response.form_input == input %}
                                                                                   {{ response.points }}
                                                                               {% endif %}{% endfor %}>
                                                                </td>
                                                            </tr>
                                                        {% endif %}
                                                        {% for response in responses %}
                                                            {% if input.type == "ST" %}
                                                                {% if response.form_input == input %}
                                                                    <tr id="tr{{ response.id }}">
                                                                        <td>
                                                                                    <textarea class="w-100"
                                                                                              id="{{ input.id }}"
                                                                                              name="response{{ input.id }}"
                                                                                              placeholder="Odpowiedź"
                                                                                              rows="1"
                                                                                              disabled>{{ response.response }}</textarea>
                                                                        </td>
                                                                        <td>
                                                                            <input type="number"
                                                                                   id="stringPoints{{ input.id }}"
                                                                                   data-input-question="{{ question.id }}"
                                                                                   name="stringPoints{{ response.id }}"
                                                                                   placeholder="Punkty" min="0.0"
                                                                                   style="width: 75px"
                                                                                   value="{{ response.points }}"
                                                                                   disabled>
                                                                        </td>
                                                                    </tr>
                                                                {% endif %}
                                                            {% endif %}
                                                        {% endfor %}
                                                        {% if input.type == "BO" %}
                                                            <tr id="tr{{ input.id }}">
                                                                <td>
                                                                    <input type="radio" id="T{{ input.id }}"
                                                                           name="response{{ input.id }}" value="True"
                                                                           {% for response in responses %}{% if response.form_input == input %}{% if response.response == "True" %}checked
                                                                           {% endif %}{% endif %}{% endfor %} disabled>
                                                                    <label for="T{{ input.id }}">Tak</label>
                                                                    <input type="radio" id="N{{ input.id }}"
                                                                           name="response{{ input.id }}" value="False"
                                                                           {% for response in responses %}{% if response.form_input == input %}{% if response.response == "False" %}checked
                                                                           {% endif %}{% endif %}{% endfor %} disabled>
                                                                    <label for="N{{ input.id }}">Nie</label>
                                                                </td>
                                                                <td>
                                                                    <input type="number" id="points{{ input.id }}"
                                                                           data-input-question="{{ question.id }}"
                                                                           name="points{{ input.id }}"
                                                                           placeholder="Punkty" min="0.0"
                                                                           style="width: 75px"
                                                                           disabled
                                                                           value={% for response in responses %}
                                                                               {% if response.form_input == input %}
                                                                                   {{ response.points }}
                                                                               {% endif %}{% endfor %}>
                                                                </td>
                                                            </tr>
                                                        {% endif %}
                                                    {% endif %}
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                            </br>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                                <hr>
                            </div>
                        {% endif %}
                    {% endfor %}
                    </br>
                </div>
            {% endfor %}
            <div class="row d-flex justify-content-center">
                <h6 for="message" class="row d-flex justify-content-center">Wiadomość</h6>
                <textarea class="w-75 align-middle mb-3"
                          id="message"
                          name="message"
                          placeholder="Dodaj wiadomość do ewaluacji, lub pozostaw pustą."
                          rows="3"
                          maxlength="255"></textarea>
            </div>
            <div class="text-center mb-4">
                <input class="w-25 btn btn-dark rounded m-2" type="submit" name="accept" value="Zaakceptuj">
                <input class="w-25 btn btn-dark rounded m-2" type="submit" name="reject" value="Odrzuć">
            </div>   
        </form>
    </div>

    <script>
        function checkPoints() {
            let elements = document.getElementsByTagName('points');

            for (let i = 0; i < elements.length; i++) {
                if (elements[i].getAttribute('data-points') > elements[i].getAttribute('data-max-points')) {
                    return false;
                }
            }
            return true;
        }

        function countPoints(event) {
            let questionId = event.currentTarget.getAttribute('data-input-question')
            let question = document.querySelectorAll('[data-question="' + questionId + '"]');
            let sum = 0;
            let inputs = document.querySelectorAll("input[data-input-question]");
            let sendButton = document.querySelectorAll('[name=send]');
            let saveButton = document.querySelectorAll('[name=save]');

            for (let j = 0; j < inputs.length; j++) {
                if (inputs[j].getAttribute('data-input-question') === questionId)
                    sum += parseFloat(inputs[j].value);
            }

            if (sum > question[0].getAttribute('data-max-points')) {
                question[0].style.color = 'red';
            } else {
                question[0].style.color = 'black'
            }

            question[0].setAttribute('data-points', sum);
            question[0].innerHTML = 'Punkty: ' + sum + ' / ' + question[0].getAttribute('data-max-points');

        }

        window.onload = () => {
            let elements = document.getElementsByTagName('points');
            const event = new Event('change');

            for (let i = 0; i < elements.length; i++) {
                let questionId = elements[i].question;
                let inputs = document.querySelectorAll("input[data-input-question]");

                for (let j = 0; j < inputs.length; j++) {
                    if (inputs[j].getAttribute('data-input-question') === elements[i].getAttribute('data-question')) {
                        inputs[j].addEventListener('change', countPoints)
                        inputs[j].dispatchEvent(event);
                    }
                }
            }

        }
    </script>
{% endblock %}