{#Copyright 2022 Maciej Płonowski, Michał Parchanowicz#}
{#This file is part of Employee evaluation app.#}
{#Employee evaluation app is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.#}
{#Employee evaluation app is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.#}
{#You should have received a copy of the GNU General Public License along with Employee evaluation app. If not, see <https://www.gnu.org/licenses/>.#}

{% extends 'base/base.html' %}
{% block title %}Formularze do akceptacji{% endblock %}
{% block content %}
    <div class="text-center p-5 mt-4">
        <h1 class="display-3">Ewaluacje do akceptacji</h1>
        <br><br>
    </div>
    <div class="container">
        <form id="form" method="POST" action="">
            {% csrf_token %}
            <div class="row justify-content-center">
                <div class="col-6">
                    <button type="button" id="acceptButton" class="btn btn-outline-primary">Akceptowanie</button>
                    <button type="button" id="rejectButton" class="btn btn-outline-primary">Odrzucanie</button>
                    <button type="button" id="cancelButton" hidden class="btn btn-outline-secondary">Anuluj</button>
                    <button class="btn btn-outline-secondary dropdown-toggle pull-right" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                            onclick=$('.dropdown-toggle').dropdown('toggle')>
                        Paginacja
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <h6 class="dropdown-header"># na stronie</h6>
                        <a data-toggle="dropdown-item" class="dropdown-item" href="?per_page=10{% if request.GET.order_by != None %}&order_by={{ request.GET.order_by }}{% endif %}">10</a>
                        <a data-toggle="dropdown-item" class="dropdown-item" href="?per_page=25{% if request.GET.order_by != None %}&order_by={{ request.GET.order_by }}{% endif %}">25</a>
                        <a data-toggle="dropdown-item" class="dropdown-item" href="?per_page=50{% if request.GET.order_by != None %}&order_by={{ request.GET.order_by }}{% endif %}">50</a>
                    </div>
                    <input id="actionType" name="action" value="" hidden>
                    <table class="table">
                        <thead>
                        <tr>
                            <th style="cursor: pointer" hidden scope="col" id="checkboxColumn"></th>
                            <th style="cursor: pointer" onclick=orderBy('id') scope="col" id="idColumn">#<i
                                    id="idSortIcon"
                                    class="fa fa-fw fa-sort"></i>
                            </th>
                            <th style="cursor: pointer" onclick=orderBy('employee') scope="col" id="userColumn">
                                Użytkownik<i
                                    id="employeeSortIcon" class="fa fa-fw fa-sort"></i></th>
                            <th style="cursor: pointer" onclick=orderBy('evaluation') scope="col" id="evaluationColumn">
                                Ewaluacja<i id="evaluationSortIcon" class="fa fa-fw fa-sort "></i></th>
                            <th class="text-center">
                                Akcje
                            </th>
                        </tr>
                        </thead>
                        {% for instance in evaluationInstances %}
                            <tr style="cursor: pointer" id="{{ instance.id }}">
                                <td data-checkbox-column=true hidden><input type="checkbox" name="evaluations"
                                                                            value="{{ instance.id }}"></td>
                                <td onclick="location.href='{% url 'acceptEvaluation' instance.id %}'">{{ instance.id }}</td>
                                <td onclick="location.href='{% url 'acceptEvaluation' instance.id %}'">
                                    {{ instance.employee }}
                                </td>
                                <td onclick="location.href='{% url 'acceptEvaluation' instance.id %}'">
                                    {{ instance.evaluation }}
                                </td>
                                <td class="text-center" data-column-name="actions">
                                    <i class="fa fa-ellipsis-v"
                                       aria-hidden="true"></i>
                                    <ol hidden class="list-group position-absolute">
                                        <li data-link="{% url 'acceptEvaluation' instance.id %}"
                                            class="list-group-item">Otwórz w nowej karcie
                                        </li>
                                    </ol>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </form>
    </div>
    {% include "lists/pagination.html" %}
    <script>
        window.onload = () => {
            const acceptButton = document.getElementById("acceptButton");
            const rejectButton = document.getElementById("rejectButton");
            const cancelButton = document.getElementById("cancelButton");
            const checkboxColumn = document.getElementById("checkboxColumn");
            const actionTypeInput = document.getElementById("actionType");
            const checkboxColumnCells = document.querySelectorAll("td[data-checkbox-column=true]")
            let rowSelectionMode = false;

            document.onmousedown = (event) => {
                let elements = document.getElementsByTagName("ol")
                for (let element of elements) {
                    element.hidden = true;
                }
                if (event.target.getAttribute('data-column-name') === 'actions') {
                    event.target.children[1].hidden = false
                }
                if (event.target.getAttribute('data-link')) {
                    window.open(event.target.getAttribute('data-link'), '_blank');
                }
                if (event.target.getAttribute('data-toggle') !== 'dropdown-item') {
                    $('.dropdown-toggle').dropdown('hide')
                }
            }

            acceptButton.addEventListener('click', () => {
                if (rowSelectionMode === false) {
                    let inputs = document.getElementsByTagName("input")

                    acceptButton.className = "btn btn-primary"
                    acceptButton.innerHTML = "Akceptuj";
                    rowSelectionMode = true;
                    rejectButton.hidden = true;
                    cancelButton.hidden = false;
                    checkboxColumn.hidden = false;

                    for (let i = 0; i < inputs.length; i++) {
                        inputs[i].checked = false;
                    }

                    for (let i = 0; i < checkboxColumnCells.length; i++) {
                        checkboxColumnCells[i].hidden = false;
                    }
                } else {
                    actionTypeInput.value = 'Accepted';
                    document.getElementById('form').submit();
                }
            });

            rejectButton.addEventListener('click', () => {
                if (rowSelectionMode === false) {
                    let inputs = document.getElementsByTagName("input")

                    rejectButton.className = "btn btn-primary";
                    rejectButton.innerHTML = "Odrzuć";
                    rowSelectionMode = true;
                    acceptButton.hidden = true;
                    cancelButton.hidden = false;
                    checkboxColumn.hidden = false;

                    for (let i = 0; i < inputs.length; i++) {
                        inputs[i].checked = false;
                    }

                    for (let i = 0; i < checkboxColumnCells.length; i++) {
                        checkboxColumnCells[i].hidden = false;
                    }
                } else {
                    actionTypeInput.value = 'Rejected';
                    document.getElementById('form').submit();
                }
            });

            cancelButton.addEventListener('click', () => {
                rowSelectionMode = false;
                acceptButton.hidden = false;
                rejectButton.hidden = false;
                cancelButton.hidden = true;
                checkboxColumn.hidden = true;
                acceptButton.className = "btn btn-outline-primary"
                rejectButton.className = "btn btn-outline-primary"
                acceptButton.innerHTML = "Akceptowanie";
                rejectButton.innerHTML = "Odrzucanie";

                for (let i = 0; i < checkboxColumnCells.length; i++) {
                    checkboxColumnCells[i].hidden = true;
                }
            });
        }

        function orderBy(column) {
            let search = window.location.search.substring(1);
            let params = '';
            if (search) {
                params = JSON.parse('{"' + search.replace(/&/g, '","').replace(/=/g, '":"') + '"}', function (key, value) {
                    return key === "" ? value : decodeURIComponent(value)
                });
            }

            let pageParameter = '';
            if (params['page']) {
                pageParameter = 'page=' + params['page'] + '&';
            }

            let perPageParameter = '';
            if (params['per_page']) {
                perPageParameter = 'per_page=' + params['per_page'] + '&';
            }
            else perPageParameter = 'per_page=' + 10 + '&';

            if (params['order_by'] === column) {
                document.location.href = '{% url 'acceptingList' %}' + '?' + pageParameter + perPageParameter + 'order_by=-' + params['order_by']
            } else {
                document.location.href = '{% url 'acceptingList' %}' + '?' + pageParameter + perPageParameter + 'order_by=' + column
            }
        }
    </script>
{% endblock %}
