{#Copyright 2022 Maciej Płonowski, Michał Parchanowicz#}
{#This file is part of Employee evaluation app.#}
{#Employee evaluation app is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.#}
{#Employee evaluation app is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.#}
{#You should have received a copy of the GNU General Public License along with Employee evaluation app. If not, see <https://www.gnu.org/licenses/>.#}

<nav>
    <ul class="pagination justify-content-center">
        {% if evaluationInstances.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1{% if request.GET.order_by != None %}&order_by={{ request.GET.order_by }}{% endif %}{% if request.GET.per_page != None %}&per_page={{ request.GET.per_page }}{% endif %}"><span
                ><< Pierwsza</span></a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ evaluationInstances.previous_page_number }}{% if request.GET.order_by != None %}&order_by={{ request.GET.order_by }}{% endif %}{% if request.GET.per_page != None %}&per_page={{ request.GET.per_page }}{% endif %}"><span
                >< Poprzednia</span></a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <span class="page-link"><< Pierwsza</span>
            </li>
            <li class="page-item disabled">
                <span class="page-link">< Poprzednia</span>
            </li>
        {% endif %}
        <li class="page-item disabled"><span
                class="page-link">Strona {{ evaluationInstances.number }} z {{ evaluationInstances.paginator.num_pages }}</span>
        </li>
        {% if evaluationInstances.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ evaluationInstances.next_page_number }}{% if request.GET.order_by != None %}&order_by={{ request.GET.order_by }}{% endif %}{% if request.GET.per_page != None %}&per_page={{ request.GET.per_page }}{% endif %}">Następna
                    ></a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ evaluationInstances.paginator.num_pages }}{% if request.GET.order_by != None %}&order_by={{ request.GET.order_by }}{% endif %}{% if request.GET.per_page != None %}&per_page={{ request.GET.per_page }}{% endif %}">Ostatnia
                    >></a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <a class="page-link">Następna ></a>
            </li>
            <li class="page-item disabled">
                <a class="page-link">Ostatnia >></a>
            </li>
        {% endif %}
    </ul>
</nav>