{#Copyright 2022 Maciej Płonowski, Michał Parchanowicz#}
{#This file is part of Employee evaluation app.#}
{#Employee evaluation app is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.#}
{#Employee evaluation app is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.#}
{#You should have received a copy of the GNU General Public License along with Employee evaluation app. If not, see <https://www.gnu.org/licenses/>.#}

{% extends 'base/base.html' %}
{% block title %}Formularze do oceny{% endblock %}
{% block content %}
    <div class="text-center p-5 mt-4">
        <h1 class="display-3">Ewaluacje do oceny</h1>
        </br></br>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-6">
                <button class="btn btn-outline-secondary dropdown-toggle pull-right" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                        onclick=$('.dropdown-toggle').dropdown('toggle')>
                    Paginacja
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <h6 class="dropdown-header"># na stronie</h6>
                    <a data-toggle="dropdown-item" class="dropdown-item" href="?per_page=10{% if request.GET.order_by != None %}&order_by={{ request.GET.order_by }}{% endif %}">10</a>
                    <a data-toggle="dropdown-item" class="dropdown-item" href="?per_page=25{% if request.GET.order_by != None %}&order_by={{ request.GET.order_by }}{% endif %}">25</a>
                    <a data-toggle="dropdown-item" class="dropdown-item" href="?per_page=50{% if request.GET.order_by != None %}&order_by={{ request.GET.order_by }}{% endif %}">50</a>
                </div>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col" style="cursor: pointer" onclick=orderBy('id') id="idColumn">#<i
                                id="idSortIcon"
                                class="fa fa-fw fa-sort"></i></th>
                        <th scope="col" style="cursor: pointer" onclick=orderBy('employee') id="employeeColumn">
                            Użytkownik<i
                                id="idSortIcon"
                                class="fa fa-fw fa-sort"></i>
                        </th>
                        <th scope="col" style="cursor: pointer" onclick=orderBy('evaluation') id="evaluationColumn">
                            Ewaluacja<i
                                id="idSortIcon"
                                class="fa fa-fw fa-sort"></i>
                        </th>
                        <th scope="col" style="cursor: pointer" onclick=orderBy('evaluation_instance_state')
                            id="stateColumn">Status<i
                                id="idSortIcon"
                                class="fa fa-fw fa-sort"></i>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for instance in evaluationInstances %}
                        <tr onclick="location.href='{% url 'scoreEvaluation' instance.id %}'" style="cursor: pointer">
                            <td>{{ instance.id }}</td>
                            <td>
                                {{ instance.employee }}
                            </td>
                            <td>
                                {{ instance.evaluation }}
                            </td>
                            <td>
                                {{ instance.evaluation_instance_state }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% include "lists/pagination.html" %}

    <script>
        function orderBy(column) {
            let search = window.location.search.substring(1);
            let params = '';
            if (search) {
                params = JSON.parse('{"' + search.replace(/&/g, '","').replace(/=/g, '":"') + '"}', function (key, value) {
                    return key === "" ? value : decodeURIComponent(value)
                });
            }

            let pageParameter = '';
            if (params['page']) {
                pageParameter = 'page=' + params['page'] + '&';
            }

            let perPageParameter = '';
            if (params['per_page']) {
                perPageParameter = 'per_page=' + params['per_page'] + '&';
            } else perPageParameter = 'per_page=' + 10 + '&';

            if (params['order_by'] === column) {
                document.location.href = '{% url 'scoringList' %}' + '?' + pageParameter + perPageParameter + 'order_by=-' + params['order_by']
            } else {
                document.location.href = '{% url 'scoringList' %}' + '?' + pageParameter + perPageParameter + 'order_by=' + column
            }
        }
    </script>
{% endblock %}
