{#Copyright 2022 Maciej Płonowski, Michał Parchanowicz#}
{#This file is part of Employee evaluation app.#}
{#Employee evaluation app is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.#}
{#Employee evaluation app is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.#}
{#You should have received a copy of the GNU General Public License along with Employee evaluation app. If not, see <https://www.gnu.org/licenses/>.#}

{% extends 'base/base.html' %}

{% block content %}
     <div class="border border-dark border-2 rounded mx-auto w-25" style="margin-top:100px; margin-bottom:100px; min-width: 400px">
        <div class="bg-dark">
            <h1 class="text-light pb-2 px-4 display-6">Rejestracja</h1>
        </div>
        <div class="p-4 bg-white">
            <form method="POST" action="">
                {% csrf_token %}
                <label for="first_name">Imię:</label><br>
                <input class="w-100" type="text" id="first_name" name="first_name"><br><br>
                <label for="last_name">Nazwisko:</label><br>
                <input class="w-100" type="text" id="last_name" name="last_name"><br><br>
                <label for="username">Login:</label><br>
                <input class="w-100" type="text" id="username" name="username"><br><br>
                <label for="email">Email:</label><br>
                <input class="w-100" type="text" id="email" name="email"><br><br>
                <label for="password1">Hasło:</label><br>
                <input class="w-100" type="password" id="password1" name="password1"><br><br>
                <label for="password2">Powtórz hasło:</label><br>
                <input class="w-100" type="password" id="password2" name="password2"><br><br>
                <br>
                <input class="w-100 btn btn-dark rounded" type="submit" value="Zarejestruj się">
            </form>
        </div>
    </div>
{% endblock %}
